/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

header {
  background-image: url(../img/lignes_code_ecran.jpg);
  color: white;
  border-color: white;
  border-style: solid;
  padding: 30px 40px 25px 5px;
}

header
span {
  color: #2afca6;
  font-style: italic;
}

body {
  background-color: black;
  color: black;
  font-family: 'Open Sans', sans-serif;
  max-width: 320px;
  margin: auto;
  padding-top: 25px;
}

p {
  word-break: break-word;
  margin: 25px;
  font-size: 15px;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  padding-left: 25px;
}

main {
  padding-top: 25px;
  padding-bottom: 25px;
}

main
div {
  background-color: #2afca6;
  color: black;
  padding: 5px 0px 30px 10px ;
  margin-bottom: 25px;
}

figure {
  font-family: 'Open Sans', sans-serif;
  font-weight: 50px;
  box-shadow: 3px 3px 9px lightgrey;
  margin: 25px;
}

article {
  padding-top: 5px;
  background-color: white;
  padding-bottom: 35px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100px;
  padding-left: 25px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 30px;
  font-size: 18px;
  text-align: left;
  padding:  15px 25px 0 25px;
}

a {
  background-color: rgb(62, 62, 62);
  padding: 5px 15px 5px 15px;
  margin-left: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-align: left;
  text-decoration: none;
}

footer
div {
  border-color: #2afca6;
  border-style: solid;
  border-width: 3px;
  color: white;
  margin: 0px;
  text-align: center;
}

figcaption {
margin: 0;  
font-size: 13px;
text-align: left;
padding: 5px;
}

.tagline {
  color: rgb(175, 175, 175);

}

strong {
  color: #2afca6;
  font-family: 'Open Sans', sans-serif;
}

em {
  color: rgb(159, 159, 159);
  font-style: normal;
}