/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

header {
  background-image: url(../img/lignes_code_ecran.jpg);
  color: white;
  border-color: white;
  border-style: solid;
  padding: 30px 40px 40px 30px;
}

header
span {
  color: #2afca6;
  font-style: italic;
}

body {
  max-width: 375px;
  margin: auto;
  background-color: black;
  color: black;
  text-align: center;
  margin: 25px;
  font-family: 'Open Sans', sans-serif;
}

p {
  word-break: break-all;
  margin: 20px;
}

main {
  padding-top: 25px;
}

main
div {
  background-color: #2afca6;
  color: black;
  padding: 30px;
  margin-bottom: 25px;
}

figure {
  font-family: 'Open Sans', sans-serif;
  font-weight: 50px;
  box-shadow: 3px 3px 9px lightgrey;
  margin: 20px;
}

article {
  padding-top: 25px;
  background-color: white;
  padding-bottom: 30px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 30px;
  text-align: left;
}

a {
  background-color: grey;
  padding: 7px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

div,
p {
 text-align: left;
}

footer
div {
  border-color: #2afca6;
  border-style: solid;
  border-width: 3px;
  color: white;
}

footer {
  margin: 20px;
}

.button {
  text-align: center;
}
